@model PruebaMVMFront.Models.LoginModel
<div class="row">
    <form id="formLogin" action="/Home/Login" method="post">
        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @maxlength = "200", placeHolder = "Correo", title = "Digite el correo electronico registrado." })
        <br />
        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control", @maxlength = "200", placeHolder = "Contraseña", title = "Digite la contraseña asociada al correo." })
        <br />
        @Html.ValidationMessage( "LoginError", new { @style = "color:red;" })
        <br />
        <input class="form-control btn-primary" type="submit" value="Ingresar" />
    </form>

</div>
